{% extends "order_header_same.html" %}


{%block body%}


<div class="panel panel-default">
    <!-- 添加flashes,警告消息 -->
    {% with messages = get_flashed_messages() %}
    {% if messages %}
    <ul class="flashes">
        {% for message in messages %}
        <li>{{ message }}</li>
        {% endfor %}
    </ul>
    {% endif %}
    {% endwith %}



    <!-- Default panel contents -->
    <div class="panel-heading"> <h3>订单面板</h3></div>

    <!-- Table -->
    <table class="table">
        <form method="post">
    <div class="form-group">
        <label>URL</label>
        <input type="text" class="form-control" placeholder="请输入/粘贴 订单url,例如:www.xxx.com" name="url" pattern="^http.*" required title="输入格式有误">

    </div>
    <div class="form-group">
    <label>数 量</label>
    <input type="number" class="form-control" list="counts" name="count" min="1" placeholder="选择或输入数量">
    <datalist id="counts">
        <option value="10">
        <option value="50">
        <option value="100">
        <option value="300">
        <option value="500">
    </datalist>
</div>

    <div class="checkbox">
        <label>
            <input type="checkbox" id="confirmCheckbox"> 请再次确认您的订单
        </label>
    </div>
    <button type="submit" class="btn btn-primary" id="submitButton" disabled>提 交</button>
</form>

<script>
    // 当没有勾选框框的时候,就没办法点击提交的业务逻辑
document.getElementById('confirmCheckbox').addEventListener('click', function() {
    if(document.getElementById('confirmCheckbox').checked) {
        document.getElementById('submitButton').removeAttribute('disabled');
    } else {
        document.getElementById('submitButton').setAttribute('disabled', 'disabled');
    }
});

    // 当网页输入不是以http开头,就提示输入格式有误
    document.querySelector('input[name="url"]').addEventListener('input', function(e) {
    var urlInput = e.target;
    var pattern = /^http/;
    if(pattern.test(urlInput.value)) {
        urlInput.setCustomValidity('');
    } else {
        urlInput.setCustomValidity('输入格式有误,请检查你提交的url');
    }
});


</script>

    </table>
</div>







{%endblock%}




