<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <link rel="stylesheet" href="/static/bootstrap-3.4.1-dist/css/bootstrap.css">
    <style>
        .form-group {
            margin-bottom: 15px; /* 如果你想要上下都有间距，你可以只用 margin */
            margin-top: 15px;
            margin-bottom: 15px;
        }
    </style>

</head>
<body>
<nav class="navbar navbar-default">
    <div class="container">
        <!-- Brand and toggle get grouped for better mobile display -->
        <div class="navbar-header">
            <button type="button" class="navbar-toggle collapsed" data-toggle="collapse"
                    data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            <a class="navbar-brand" href="#">不雨订单平台</a>
        </div>

        <!-- Collect the nav links, forms, and other content for toggling -->
        <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
            <ul class="nav navbar-nav">
                <li><a href="#">用户管理<span class="sr-only">(current)</span></a></li>
                <li><a href="#">订单管理</a></li>
                <li class="dropdown">
                    <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true"
                       aria-expanded="false">Dropdown <span class="caret"></span></a>
                    <ul class="dropdown-menu">
                        <li><a href="#">Action</a></li>
                        <li><a href="#">Another action</a></li>
                        <li><a href="#">Something else here</a></li>
                        <li role="separator" class="divider"></li>
                        <li><a href="#">Separated link</a></li>
                        <li role="separator" class="divider"></li>
                        <li><a href="#">One more separated link</a></li>
                    </ul>
                </li>
            </ul>
            <!--        搜索栏-->
            <!--      <form class="navbar-form navbar-left">-->
            <!--        <div class="form-group">-->
            <!--          <input type="text" class="form-control" placeholder="Search">-->
            <!--        </div>-->
            <!--        <button type="submit" class="btn btn-default">Submit</button>-->
            <!--      </form>-->
            <ul class="nav navbar-nav navbar-right">
                <!--        <li><a href="#">Link</a></li>-->
                <li class="dropdown">
                    <!--          取出表格中用户的真实姓名  {{data_list[0]["user_name"]}}-->
                    <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true"
                       aria-expanded="false">用户: {{data_list[0]["user_name"]}} <span class="caret"></span></a>
                    <!--          <ul class="dropdown-menu">-->
                    <!--              名字处的下拉选项-->
                    <!--            <li><a href="#">Action</a></li>-->
                    <!--            <li><a href="#">Another action</a></li>-->
                    <!--            <li><a href="#">Something else here</a></li>-->
                    <!--            <li role="separator" class="divider"></li>-->
                    <!--            <li><a href="#">Separated link</a></li>-->
                    <!--          </ul>-->
                </li>
            </ul>
        </div><!-- /.navbar-collapse -->
    </div><!-- /.container-fluid -->
</nav>
<div class="container">
    <div class="panel panel-default">
    <!-- Default panel contents -->
    <div class="panel-heading"> <h3>订单面板</h3></div>

    <!-- Table -->
    <table class="table">
        <form>
    <div class="form-group">
        <label>URL</label>
        <input type="text" class="form-control" placeholder="请输入/粘贴 订单url,例如:www.xxx.com">
    </div>
    <div class="form-group">
        <label>数 量</label>
        <select class="form-control">
            <option value="10">10</option>
            <option value="50">50</option>
            <option value="100">100</option>
            <option value="300">300</option>
            <option value="500">500</option>
        </select>
    </div>
    <div class="checkbox">
        <label>
            <input type="checkbox" id="confirmCheckbox"> 请再次确认您的订单
        </label>
    </div>
    <button type="submit" class="btn btn-primary" id="submitButton" disabled>提 交</button>
</form>

<script>
    // 当没有勾选框框的时候,就没办法点击提交的业务逻辑
document.getElementById('confirmCheckbox').addEventListener('click', function() {
    if(document.getElementById('confirmCheckbox').checked) {
        document.getElementById('submitButton').removeAttribute('disabled');
    } else {
        document.getElementById('submitButton').setAttribute('disabled', 'disabled');
    }
});
</script>

    </table>
</div>




</div>
<script src="/static/jquery-3.7.1.min.js"></script>
<script src="/static/bootstrap-3.4.1-dist/js/bootstrap.js"></script>
</body>
</html>