{% extends "order_header_same.html" %}


{%block body%}

<div class="container">
    <div class="table-responsive">
        <div style="margin-bottom: 10px">
<!--            跳转到添加订单页面-->
            <a class="btn btn-primary" href="/order/create">

           <span class="glyphicon glyphicon-plus" aria-hidden="true"></span>添 加</a>
        </div>
        <table class="table table-striped">
            <!--      表头列表-->
            <thead>

            <tr>
                <th>ID</th>
                <th>URL</th>
                <th>COUNT</th>
                <th>STATUS</th>
                <th>USER_ID</th>
            </tr>


            </thead>
            <tbody>
            <!--      获取表格数据,进行循环-->
            {% for item in data_list %}
            <tr>
                <th>{{item.id}}</th>
                <th>{{item.url}}</th>
                <th>{{item.count}}</th>
                <!--            数字转文字的动态和颜色变化-->
                <th>
              <span class="label label-{{ status_dict[item.status].col }}">
              {{ status_dict[item.status].sta }}
          </span>
                </th>
                <th>{{item.user_id}}</th>

            </tr>
            {% endfor %}
            </tbody>


        </table>
    </div>
</div>

{%endblock%}